# I prepared MulticlassCSE-CIC-IDS-2018Dataset with 13 attacks from all Maonday to Friday dataset of CSE-CIC-IDS-2018

In [ ]:
# Preprocessing of MulticlassCSE-CIC-IDS-2018Dataset with 13 attacks

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import classification_report
from sklearn.svm import OneClassSVM

In [46]:
class dataset:
    pass
#pd.set_option('display.max_columns', 500)
df = pd.read_csv("C:/Users/ramya/OneDrive/Desktop/CSE_CIC_IDS2018_MultiClassDataset.csv")
df.head(5)

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,50465,6,2/3/2018 9:44,30,3,1,77,0.0,46,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
1,50452,6,2/3/2018 9:44,375,2,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
2,50462,6,2/3/2018 9:44,2376,3,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
3,50420,6,2/3/2018 9:44,209,3,0,31,0.0,31,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
4,50469,6,2/3/2018 9:44,0,2,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign

In [47]:
df.columns

Index(['Dst Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts',
       'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label'],
      dtype='object')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343243 entries, 0 to 343242
Data columns (total 80 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Dst Port           343243 non-null  int64
 1   Protocol           343243 non-null  int64
 2   Timestamp          343243 non-null  object
 3   Flow Duration      343243 non-null  int64
 4   Tot Fwd Pkts       343243 non-null  int64
 5   Tot Bwd Pkts       343243 non-null  int64
 6   TotLen Fwd Pkts    343243 non-null  int64
 7   TotLen Bwd Pkts    343243 non-null  float64
 8   Fwd Pkt Len Max    343243 non-null  int64
 9   Fwd Pkt Len Min    343243 non-null  int64
 10  Fwd Pkt Len Mean   343243 non-null  float64
 11  Fwd Pkt Len Std    343243 non-null  float64
 12  Bwd Pkt Len Max    343243 non-null  int64
 13  Bwd Pkt Len Min    343243 non-null  int64
 14  Bwd Pkt Len Mean   343243 non-null  float64
 15  Bwd Pkt Len Std    343243 non-null  float64
 16  Flow Byts/s        342570 non-null  float64
 17  Flow Pkts/s        343243 non-null  float64
 18  Flow IAT Mean      343243 non-null  float64
 19  Flow IAT Std       343243 non-null  float64
 20  Flow IAT Max       343243 non-null  float64
 21  Flow IAT Min       343243 non-null  float64
 22  Fwd IAT Tot        343243 non-null  float64
 23  Fwd IAT Mean       343243 non-null  float64
 24  Fwd IAT Std        343243 non-null  float64
 25  Fwd IAT Max        343243 non-null  float64
 26  Fwd IAT Min        343243 non-null  float64
 27  Bwd IAT Tot        343243 non-null  float64
 28  Bwd IAT Mean       343243 non-null  float64
 29  Bwd IAT Std        343243 non-null  float64
 30  Bwd IAT Max        343243 non-null  float64
 31  Bwd IAT Min        343243 non-null  float64
 32  Fwd PSH Flags      343243 non-null  int64
 33  Bwd PSH Flags      343243 non-null  int64
 34  Fwd URG Flags      343243 non-null  int64
 35  Bwd URG Flags      343243 non-null  int64
 36  Fwd Header Len     343243 non-null  int64
 37  Bwd Header Len     343243 non-null  int64
 38  Fwd Pkts/s         343243 non-null  float64
 39  Bwd Pkts/s         343243 non-null  float64
 40  Pkt Len Min        343243 non-null  int64
 41  Pkt Len Max        343243 non-null  int64
 42  Pkt Len Mean       343243 non-null  float64
 43  Pkt Len Std        343243 non-null  float64
 44  Pkt Len Var        343243 non-null  float64
 45  FIN Flag Cnt       343243 non-null  int64
 46  SYN Flag Cnt       343243 non-null  int64
 47  RST Flag Cnt       343243 non-null  int64
 48  PSH Flag Cnt       343243 non-null  int64
 49  ACK Flag Cnt       343243 non-null  int64
 50  URG Flag Cnt       343243 non-null  int64
 51  CWE Flag Count     343243 non-null  int64
 52  ECE Flag Cnt       343243 non-null  int64
 53  Down/Up Ratio      343243 non-null  int64
 54  Pkt Size Avg       343243 non-null  float64
 55  Fwd Seg Size Avg   343243 non-null  float64
 56  Bwd Seg Size Avg   343243 non-null  float64
 57  Fwd Byts/b Avg     343243 non-null  int64
 58  Fwd Pkts/b Avg     343243 non-null  int64
 59  Fwd Blk Rate Avg   343243 non-null  int64
 60  Bwd Byts/b Avg     343243 non-null  int64
 61  Bwd Pkts/b Avg     343243 non-null  int64
 62  Bwd Blk Rate Avg   343243 non-null  int64
 63  Subflow Fwd Pkts   343243 non-null  int64
 64  Subflow Fwd Byts   343243 non-null  int64
 65  Subflow Bwd Pkts   343243 non-null  int64
 66  Subflow Bwd Byts   343243 non-null  int64
 67  Init Fwd Win Byts  343243 non-null  int64
 68  Init Bwd Win Byts  343243 non-null  int64
 69  Fwd Act Data Pkts  343243 non-null  int64
 70  Fwd Seg Size Min   343243 non-null  int64
 71  Active Mean        343243 non-null  float64
 72  Active Std         343243 non-null  float64
 73  Active Max         343243 non-null  float64
 74  Active Min         343243 non-null  float64
 75  Idle Mean          343243 non-null  float64
 76  Idle Std           343243 non-null  float64
 77  Idle Max           343243 non-null  float64
 78  Idle Min           343243 non-null  float64
 79  Label              343243 non-null  object
dtypes: float64(37), int64(41), object(2)
memory usage: 209.5+ MB

In [49]:
df.shape

(343243, 80)

In [50]:
df.describe()

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
count,343243.000000,343243.000000,3.432430e+05,343243.000000,343243.000000,3.432430e+05,3.432430e+05,343243.000000,343243.000000,343243.000000,...,343243.000000,343243.000000,3.432430e+05,3.432430e+05,3.432430e+05,3.432430e+05,3.432430e+05,3.432430e+05,3.432430e+05,3.432430e+05
mean,10271.410861,7.267481,1.144737e+07,596.574322,4.439942,1.978121e+04,2.020470e+03,249.021614,7.359588,60.464915,...,593.472024,24.065213,2.146622e+05,7.980039e+04,2.889686e+05,1.596135e+05,4.154351e+06,4.678394e+05,4.776033e+06,3.741825e+06
std,19295.558367,3.658689,3.064901e+07,8548.876836,69.024118,2.794805e+05,9.199409e+04,446.911846,37.634653,99.407748,...,8548.987137,9.507361,1.903712e+06,1.045878e+06,2.464501e+06,1.612651e+06,1.537941e+07,2.886975e+06,1.658915e+07,1.507034e+07
min,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,53.000000,6.000000,4.570000e+02,2.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,20.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,80.000000,6.000000,1.147400e+04,2.000000,1.000000,4.200000e+01,4.600000e+01,38.000000,0.000000,32.000000,...,0.000000,20.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8080.000000,6.000000,3.968994e+06,5.000000,4.000000,8.240000e+02,3.480000e+02,428.000000,0.000000,108.666667,...,1.000000,32.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,65533.000000,17.000000,1.200000e+08,309629.000000,16693.000000,9.908128e+06,1.990000e+07,64440.000000,1460.000000,16529.313840,...,309628.000000,56.000000,1.110000e+08,5.790000e+07,1.110000e+08,1.110000e+08,1.200000e+08,5.030000e+07,1.200000e+08,1.200000e+08

In [51]:
df.dtypes

Dst Port           int64
Protocol           int64
Timestamp         object
Flow Duration      int64
Tot Fwd Pkts       int64
                  ...
Idle Mean        float64
Idle Std         float64
Idle Max         float64
Idle Min         float64
Label             object
Length: 80, dtype: object

In [52]:
df['Label'].unique()

array(['Benign', 'Bot', 'DoS attacks-SlowHTTPTest', 'DoS attacks-Hulk',
       'Brute Force -Web', 'Brute Force -XSS', 'SQL Injection',
       'DoS attacks-GoldenEye', 'DoS attacks-Slowloris', 'Infilteration',
       'FTP-BruteForce', 'SSH-Bruteforce', 'DDOS attack-HOIC',
       'DDOS attack-LOIC-UDP'], dtype=object)

In [53]:
df.isnull()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
343239,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
343240,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
343241,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
343242,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [54]:
 pd.Categorical(df['Flow Byts/s'])

[2.566667e+06, 0.000000e+00, 0.000000e+00, 1.483254e+05, NaN, ..., 8.643815e+04, 7.707641e+04, 1.076125e+06, 3.864119e+05, 7.145307e+04]
Length: 343243
Categories (164938, float64): [0.000000, 0.008385, 0.008781, 0.008828, ..., 247000000.0, 379000000.0, 394000000.0, inf]

In [55]:
 pd.Categorical(df['Flow Pkts/s'])# to check different value

[1.333333e+05, 5.333333e+03, 1.262626e+03, 1.435407e+04, inf, ..., 474.190489, 422.832981, 6055.363322, 2123.142251, 400.137190]
Length: 343243
Categories (170004, float64): [0.016669, 0.016669, 0.016689, 0.016695, ..., 2000000.0, 3000000.0, 4000000.0, inf]

In [56]:
df['Flow Pkts/s'].unique()

array([133333.3333   ,   5333.333333 ,   1262.626263 , ...,
         3489.531406 ,    474.1904891,    422.832981 ])

In [57]:
df.drop('Timestamp',axis=1,inplace=True)

In [58]:
df.shape

(343243, 79)

 Below,I drop the columns containg only zeros

In [59]:
df.drop(['Bwd PSH Flags','Bwd URG Flags','Fwd Byts/b Avg','Fwd Pkts/b Avg','Fwd Blk Rate Avg','Bwd Byts/b Avg','Bwd Pkts/b Avg','Bwd Blk Rate Avg'],axis=1,inplace=True)

In [60]:
df.shape

(343243, 71)

In [61]:
df.isnull().sum()

Dst Port         0
Protocol         0
Flow Duration    0
Tot Fwd Pkts     0
Tot Bwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 71, dtype: int64

In [62]:
df['Flow Pkts/s']= df['Flow Pkts/s'].fillna(0)  # removing NAN and INF values
df['Flow Byts/s']= df['Flow Byts/s'].fillna(0)
df['Flow Pkts/s']= df['Flow Pkts/s'].replace(np.Infinity,1)
df['Flow Byts/s']= df['Flow Byts/s'].replace(np.Infinity,1)

In [63]:
 pd.Categorical(df['Flow Byts/s']) # now no INF and NAN values

[2.566667e+06, 0.000000e+00, 0.000000e+00, 1.483254e+05, 0.000000e+00, ..., 8.643815e+04, 7.707641e+04, 1.076125e+06, 3.864119e+05, 7.145307e+04]
Length: 343243
Categories (164938, float64): [0.000000, 0.008385, 0.008781, 0.008828, ..., 235000000.0, 247000000.0, 379000000.0, 394000000.0]

In [64]:
 pd.Categorical(df['Flow Pkts/s'])

[133333.333300, 5333.333333, 1262.626263, 14354.066990, 1.000000, ..., 474.190489, 422.832981, 6055.363322, 2123.142251, 400.137190]
Length: 343243
Categories (170004, float64): [0.016669, 0.016669, 0.016689, 0.016695, ..., 1500000.0, 2000000.0, 3000000.0, 4000000.0]

In [65]:
df.shape

(343243, 71)

In [66]:
dataset.train = df.groupby('Label').apply(pd.DataFrame.sample, frac=0.8).reset_index(level='Label', drop=True)
dataset.test = df.drop(dataset.train.index)
dataset.label = dataset.train.Label.copy()

In [67]:
dataset.train

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
285042,5149,6,143479,2,1,0,0.0,0,0,0.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
289363,53,17,24248,1,1,35,138.0,35,35,35.000000,...,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
4130,53,17,285,1,1,68,196.0,68,68,68.000000,...,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
301853,53,17,1924,1,1,35,83.0,35,35,35.000000,...,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
232773,51505,6,1,3,0,77,0.0,46,0,25.666667,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269738,22,6,335842,22,22,2008,2665.0,640,0,91.272727,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
275251,22,6,6,1,1,0,0.0,0,0,0.000000,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
268385,22,6,312659,21,22,1944,2665.0,640,0,92.571429,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
278937,22,6,7,1,1,0,0.0,0,0,0.000000,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
267576,22,6,350507,22,22,1944,2665.0,640,0,88.363636,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce

In [68]:
dataset.test

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
4,50469,6,0,2,0,0,0.0,0,0,0.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
9,3389,6,119254498,229,171,5631,5695.0,68,0,24.589520,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
20,443,6,195964,9,7,553,3773.0,202,0,61.444444,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
36,443,6,5728070,8,6,344,3551.0,187,0,43.000000,...,20,192645.0,0.0,192645.0,192645.0,5535400.0,0.0,5535400.0,5535400.0,Benign
40,443,6,5617557,8,7,363,5201.0,206,0,45.375000,...,20,257673.0,0.0,257673.0,257673.0,5359858.0,0.0,5359858.0,5359858.0,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343226,50028,6,1563,5,2,935,339.0,935,0,187.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
343228,50026,6,20106,5,2,935,339.0,935,0,187.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
343229,64071,6,2793,5,2,935,309.0,935,0,187.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
343237,62213,6,1587,5,2,935,284.0,935,0,187.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign
343238,63972,6,14762,5,2,935,341.0,935,0,187.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Benign

In [69]:
dataset.label

285042            Benign
289363            Benign
4130              Benign
301853            Benign
232773            Benign
               ...
269738    SSH-Bruteforce
275251    SSH-Bruteforce
268385    SSH-Bruteforce
278937    SSH-Bruteforce
267576    SSH-Bruteforce
Name: Label, Length: 274594, dtype: object

In [70]:
dataset.label.unique()

array(['Benign', 'Bot', 'Brute Force -Web', 'Brute Force -XSS',
       'DDOS attack-HOIC', 'DDOS attack-LOIC-UDP',
       'DoS attacks-GoldenEye', 'DoS attacks-Hulk',
       'DoS attacks-SlowHTTPTest', 'DoS attacks-Slowloris',
       'FTP-BruteForce', 'Infilteration', 'SQL Injection',
       'SSH-Bruteforce'], dtype=object)

In [71]:
d1 = dataset.train.replace('Benign', 0) # here converting the categorical values to numeric
d2 = d1.replace('Bot', 1)
d3 = d2.replace('Brute Force -Web', 2)
d4 = d3.replace('Brute Force -XSS', 3)
d5 = d4.replace('DDOS attack-HOIC', 4)
d6 = d5.replace('DDOS attack-LOIC-UDP', 5)
d7 = d6.replace('DoS attacks-GoldenEye', 6)
d8 = d7.replace('DoS attacks-Hulk', 7)
d9 = d8.replace('DoS attacks-SlowHTTPTest', 8)
d10 = d9.replace('DoS attacks-Slowloris', 9)
d11 = d10.replace('FTP-BruteForce', 10)
d12 = d11.replace('Infilteration', 11)
d13 = d12.replace('SQL Injection', 12)
d14 = d13.replace('SSH-Bruteforce', 13)
d6_label = d14.Label.copy()
d6_label.unique()
d6_label.value_counts()

0     113946
1      28426
11     28068
7      20931
6      16672
4      14400
10     14354
13     13692
8      13274
9       8994
5       1384
2        290
3        121
12        42
Name: Label, dtype: int64

In [72]:
d6_label.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13],
      dtype=int64)

In [73]:
dataset.test_label = dataset.test.Label.copy()
dataset.test_label.unique()
a1_label = dataset.test.Label.copy()
a1_label.unique()

array(['Benign', 'Bot', 'DoS attacks-SlowHTTPTest', 'DoS attacks-Hulk',
       'Brute Force -Web', 'Brute Force -XSS', 'SQL Injection',
       'DoS attacks-GoldenEye', 'DoS attacks-Slowloris', 'Infilteration',
       'FTP-BruteForce', 'SSH-Bruteforce', 'DDOS attack-HOIC',
       'DDOS attack-LOIC-UDP'], dtype=object)

In [74]:
a1 = dataset.test.replace('Benign', 0)
a2 = a1.replace('Bot', 1)
a3 = a2.replace('Brute Force -Web', 2)
a4 = a3.replace('Brute Force -XSS', 3)
a5 = a4.replace('DDOS attack-HOIC', 4)
a6 = a5.replace('DDOS attack-LOIC-UDP', 5)
a7 = a6.replace('DoS attacks-GoldenEye', 6)
a8 = a7.replace('DoS attacks-Hulk', 7)
a9 = a8.replace('DoS attacks-SlowHTTPTest', 8)
a10 = a9.replace('DoS attacks-Slowloris', 9)
a11 = a10.replace('FTP-BruteForce', 10)
a12 = a11.replace('Infilteration', 11)
a13 = a12.replace('SQL Injection', 12)
a14 = a13.replace('SSH-Bruteforce', 13)
a5_label = a14.Label.copy()
a5_label.unique()
a5_label.value_counts()

0     28487
1      7107
11     7017
7      5233
6      4168
4      3600
10     3588
13     3423
8      3318
9      2249
5       346
2        72
3        30
12       11
Name: Label, dtype: int64

In [75]:
category_variables = ["Protocol"]
for cv in category_variables:
    d2[cv] = d2[cv].astype("category")
    a2[cv] = a2[cv].astype("category")
    
    print("Length of Categories for {} are {}".format(cv , len(d2[cv].cat.categories)))
    print("Categories for {} are {} \n".format(cv ,d2[cv].cat.categories))

Length of Categories for Protocol are 3
Categories for Protocol are Int64Index([0, 6, 17], dtype='int64')

In [76]:
dummy_variables_2labels = category_variables
    
class preprocessing:
    train_labels = pd.get_dummies(d2, columns = dummy_variables_2labels, prefix=dummy_variables_2labels)
    test_labels = pd.get_dummies(a2, columns = dummy_variables_2labels, prefix=dummy_variables_2labels)

In [77]:
d2.head()

,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
285042,5149,6,143479,2,1,0,0.0,0,0,0.000000,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
289363,53,17,24248,1,1,35,138.0,35,35,35.000000,...,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4130,53,17,285,1,1,68,196.0,68,68,68.000000,...,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
301853,53,17,1924,1,1,35,83.0,35,35,35.000000,...,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
232773,51505,6,1,3,0,77,0.0,46,0,25.666667,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [78]:
preprocessing.test_labels.head()

,Dst Port,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,...,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label,Protocol_0,Protocol_6,Protocol_17
4,50469,0,2,0,0,0.0,0,0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
9,3389,119254498,229,171,5631,5695.0,68,0,24.589520,24.512744,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
20,443,195964,9,7,553,3773.0,202,0,61.444444,87.534438,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
36,443,5728070,8,6,344,3551.0,187,0,43.000000,72.716671,...,192645.0,192645.0,5535400.0,0.0,5535400.0,5535400.0,0,0,1,0
40,443,5617557,8,7,363,5201.0,206,0,45.375000,78.195611,...,257673.0,257673.0,5359858.0,0.0,5359858.0,5359858.0,0,0,1,0

In [81]:
preprocessing.train_labels.to_csv("preprocessed_train_4_new.csv")
preprocessing.test_labels.to_csv("preprocessed_test_4_new.csv")

In [83]:
preprocessing.train_labels.head()

,Dst Port,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,...,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label,Protocol_0,Protocol_6,Protocol_17
285042,5149,143479,2,1,0,0.0,0,0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
289363,53,24248,1,1,35,138.0,35,35,35.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1
4130,53,285,1,1,68,196.0,68,68,68.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1
301853,53,1924,1,1,35,83.0,35,35,35.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1
232773,51505,1,3,0,77,0.0,46,0,25.666667,23.459184,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0